@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: ball-pen;
    src: url('../fonts/Ball-Pen-Regular.woff'), url('../fonts/Ball-Pen-Extra.woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --montserrat-font: 'Montserrat', sans-serif;
    --noto-font: 'Noto Sans', sans-serif;
    --first-orange-color: #fe5757;
    --second-orange-color: #eb585a;
    --violet-color: #512583;
    --yellow-color: #f9c640;
    --blue-color: #2f6fb6;
    --gray-color: #9d9a9a;
    --white-color: #fcfcfc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 4.938rem;
    background: var(--yellow-color);
    padding: 73px 0;
}

.header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    height: auto;
    margin: 0 2% 0.18% 5.341%;
}

.header .logo-img {
    width: auto;
    height: 36px;
    margin-right: 4%;
}

.header span {
    width: 100%;
    height: 1rem;
    font-family: var(--montserrat-font);
    font-size: 1.313rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75rem;
    letter-spacing: normal;
    text-align: left;
    color: #3c3c3c;
}

.header nav {
    width: 100%;
}

.header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header nav ul li {
    list-style-type: none;
    margin-right: 7.79%;
}

.header nav ul .last {
    margin-right: 0;
}

.header nav ul li a:hover {
    border-bottom: 2px solid var(--violet-color);
}

.header nav ul li a:active {
    color: var(--second-orange-color);
    border-bottom: 2px solid var(--second-orange-color);
}

.header nav ul li a {
    text-decoration: none;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: var(--montserrat-font);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: var(--violet-color);
}

.header .burguer-menu {
    display: none;
    position: relative;
    width: 5.5%;
    height: 13px;
    margin: 2% 3% 0 0;
}

.header .contact-button {
    min-width: 179px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--second-orange-color);
    margin: 0 4% -1% 0;
    text-decoration: none;
    font-family: var(--noto-font);
    font-weight: 600;
    line-height: 1.38rem;
    text-align: center;
    color: #fcfcfc;
    font-size: 16px;
    padding: 12px 11px;
}

.header .contact-button:hover {
    cursor: pointer;
    background-color: rgba(235, 88, 90, 0.71);
}

.header .contact-button:active {
    background-color: #ce1719;
}

.header .right-burguer-image {
    display: none;
    position: absolute;
    width: 14%;
    min-width: 85px;
    right: 0;
    top: 0;
    z-index: -1;
}

main {
    grid-area: main;
}

main .hero {
    position: relative;
    display: grid;
    grid-template-columns: 21.112% auto 20.139%;
    grid-template-rows: 520px;
    grid-template-areas: 
        "left-bookcase main-area right-bookcase"
        ;
    align-items: center;
    justify-items: center;
    width: 100vw;
    background: var(--yellow-color);
}

main .hero .left-bookcase{
    grid-area: left-bookcase;
    position: absolute;
    top: 0;
    left: 71px;
    width: 233px;
    height: 520px;
}

main .hero .main-area{
    grid-area: main-area;
    position: relative;
    display: grid;
    grid-template-columns: 115px 346px 107px;
    grid-template-rows: 160px 360px;
    grid-template-areas: 
        "calendar . watch"
        "desk desk desk";
    justify-self: center;
}

main .hero .main-area .calendar{
    grid-area: calendar;
}

main .hero .main-area .calendar img{
    position: absolute;
    width: 115px;
}

main .hero .main-area .watch{
    grid-area: watch;
}

main .hero .main-area .watch img{
    position: absolute;
    width: 107px;
}

main .hero .main-area .desk{
    grid-area: desk;
}

main .hero .main-area .desk img{
    position: absolute;
    width: 569px;
    top: 270px;
}

main .hero .main-area .desk img#screen{
    width: 250px;
    top: 183px;
    left: 25%;
}
main .hero .main-area .desk img#hello_msg{
    width: 156px;
    top: 166px;
    left: 33%;
}

main .hero .main-area .desk img#apple{
    position: absolute;
    width: 40px;
    height: 43px;
    top: 328px;
    left: 373px;
}

main .hero .main-area .desk img#lamp{
    position: absolute;
    width: 120px;
    height: 165px;
    left: 421px;
    top: 210px;
}

main .hero .right-bookcase{
    grid-area: right-bookcase;
    top: 0;
    left: 0;
    width: 233px;
    height: 520px;
    z-index: 1;
    justify-self: start;
}

main .hero .violet-circle{
    grid-column-start: 3;
    position: absolute;
    width: 86px;
    height: 186px;
    z-index: 2;
    right: 0;
    top: 0;
}

main .lets-learn header .white-top {
    width: 100vw;
    z-index: 2;
    position: relative;
    margin-top: -9%;
    transform: scaley(1.20);
}

main .lets-learn {
    display: grid;
    background: #ffffff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 212px 1fr 76px;
    grid-template-areas:
        "learn-header-text learn-header-text learn-header-text"
        "main-cards main-cards main-cards"
        ". . .";
    width: 100vw;
    margin-top: -20px;
}


main .lets-learn .green-circle{
    position: absolute;
    width: 234px;
    height: 393px;
    z-index: 3;
    left: -15px;
    top: 585px;
}




main .lets-learn header{
    grid-area: learn-header-text;
}


main .lets-learn header h1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
}

main .lets-learn header h1 .line {
    font-family: var(--montserrat-font);
}

main .lets-learn header h1 .first {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 3.75rem;
}

main .lets-learn header h1 .second {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 5.313rem;
    margin-top: -13px;
}

main .lets-learn header h1 .third {
    color: var(--second-orange-color);
    font-weight: bold;
    font-size: 1.688rem;
}

main .lets-learn main {
    grid-area: main-cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first-card second-card third-card";
    place-items: center;
    align-items: baseline;
    z-index: 4;
}

main .lets-learn main .yellow-circle{
    position: absolute;
    right: 0;
    grid-column: span 3;
    width: 542px;
    height: 760px;
    z-index: -1;
}

main .lets-learn main .first-card {
    grid-area: first-card;
}

main .lets-learn main .second-card {
    grid-area: second-card;
}

main .lets-learn main .third-card {
    grid-area: third-card;
    z-index: 2;
}



main .lets-learn main .card {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 376px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 16%);
    background-color: var(--white-color);
    margin-top: 10%;
}

main .lets-learn main .card img {
    width: 100%;
    height: fit-content;
    margin-bottom: 9.5%;
    border-radius: 30px 30px 0 0;
}

main .lets-learn main .card h6 {
    line-height: 1.438rem;
    font-family: var(--montserrat-font);
    font-size: 1.188rem;
    font-weight: 600;
    text-align: center;
    color: var(--violet-color);
    margin-bottom: 4.5%;
}

main .lets-learn main .card p {
    width: 80%;
    height: 114px;
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.19rem;
    color: var(--gray-color);
    margin-bottom: 7.5%;
}

main .lets-learn main .card a {
    min-width: 38%;
    height: auto;
    padding: 3.2% 9%;
    border-radius: 24px;
    border: none;
    text-align: center;
    margin-bottom: 8.5%;
    background: var(--blue-color);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.38rem;
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--montserrat-font);
    font-weight: 600;
}

main .lets-learn main .card a:hover {
    background-color: #6e95bf;
    cursor: pointer;
}

main .lets-learn main .card a:active {
    background-color: #005e9e;
}

/* main .lets-learn main .card button a {
    font-size: 0.813rem;
    font-weight: 600;
    line-height: 1.38rem;
    color: var(--white-color);
    text-decoration: none;
} */

main .online-courses {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
    /* margin-top: -5%; */
}

main .online-courses .online-courses-text-container {
    z-index: 1;
    position: absolute;
    left: 2.8%;
    margin-bottom: 5%;
}

main .online-courses .online-courses-text-container h2 {
    font-size: 2.625rem;
    line-height: 3.25rem;
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: var(--violet-color);
    margin-left: 0.213rem;
}

main .online-courses .online-courses-text-container p {
    font-size: 1.5rem;
    line-height: 1.813rem;
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: var(--blue-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
}

main .online-courses video {
    width: 100%;
    height: auto;
}

main .special-courses {
    background: url(../img/home/generales/inicio-ilustracion_onda\ superior.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    margin-top: -17%;

}

main .special-courses header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 12.6% 0 4% 3.74%;
}

main .special-courses header .logo {
    width: 94px;
    height: 100%;
}

main .special-courses header p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

main .special-courses header p .text {
    width: 100%;
    height: 100%;
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.625rem;
    color: #eee;
    margin: 8px 0;
    text-align: center;
}

main .special-courses header p .line {
    width: 30.37%;
    border-bottom: 1px solid var(--yellow-color);
}

main .special-courses main {
    background-color: #eb585a;
}

main .special-courses main .cards-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4%;
}

main .special-courses main .cards-container .cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 27.74%;
    margin-right: 2.23%;
}

main .special-courses main .cards-container .cards img {
    width: 334px;
    height: 239px;

}

main .special-courses main .cards-container .cards h6 {
    width: 100%;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--yellow-color);
    margin: 6% 0 16% 0;
}

main .special-courses main .cards-container .third-card h6 {

    margin: 6% 0 9% 0;
}


main .special-courses main .cards-container .cards p {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 174px;
    line-height: 1.188rem;
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 600;
}

main .special-courses main .cards-container .second-card p {
font-weight: normal;
}

main .special-courses main .cards-container .cards .card-button {
    width: 160px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--violet-color);
    text-align: center;
    position: relative;
    margin-bottom: 32%;
    font-family: var(--noto-font);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.29rem;
    color: #fcfcfc;
    text-decoration: none;
    padding: 14px 41px;
}

main .special-courses main .cards-container .cards .card-button:hover {
    cursor: pointer;
    background-color: #f2dda6;
}

main .special-courses main .cards-container .cards .card-button:active {
    background-color: #f8b811;
}

main .why-us {
    width: 100vw;
    background: var(--violet-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

main .why-us .rectangle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: none;
    width: 36px;
    height: 33px;
    margin: 33px 0 0 35px;
}

main .why-us header .rectangle-lines {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

main .why-us header .rectangle-lines .circle {
    width: 6px;
    height: 6px;
    border: 1px solid var(--violet-color);
    background: var(--white-color);
    border-radius: 50%;
}

main .why-us .title {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
    margin: 73px 0;
}

main .why-us .title h6 {
    color: #eee;
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.31rem;
    text-align: center;
}

main .why-us .title .line {
    border-bottom: 1px solid #eee;
    margin-top: 21.5px;
    width: 7%;
}

main .why-us main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main .why-us main .cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 291px;
    height: fit-content;
}

main .why-us main .first-card {
    margin-left: 11%;
}

main .why-us main .third-card {
    margin-right: 11%;
}

main .why-us main .cards img {
    width: 186px;
    height: 131px;
}

main .why-us main .first-card img {
    margin-right: 9%;
}



main .why-us main .cards .card-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: 600;
}

main .why-us main .cards .card-text h6 {
    margin: 15px 0 24px 3%;
    font-size: 1.25rem;
    line-height: 1.2rem;
    height: 24px;
    color: var(--white-color);
}

main .why-us main .cards .card-text p {
    margin: 5px 0 0 7%;
    font-size: 1.125rem;
    color: #eee;
    width: 100%;
    height: 88px;
}

main .why-us footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -3.7%;
}

main .why-us footer a {
    width: 17.85%;
    height: 48px;
    border-radius: 24px;
    background-color: var(--yellow-color);
    border: none;
    margin: 115px 0 50px 1%;
    text-align: center;
    line-height: 1.375rem;
    color: var(--blue-color);
    font-family: var(--noto-font);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 13px 40px;
}

main .why-us footer a:hover {
    cursor: pointer;
    background-color: #f2dda6;
}

main .why-us footer a:active {
    background-color: #f8b811;
}

/* main .why-us footer button a {
    line-height: 1.375rem;
    color: var(--violet-color);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 13px 40px;
} */

main .test-level {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 65.8858% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "left-images rectangle right-images"
        "left-images test right-images"
        "bottom-background bottom-background bottom-background"
    ;
    background-color: var(--blue-color);
}

main .test-level .middle-rectangle {
    grid-area: rectangle;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 236px;
    background: var(--white-color);
    border-radius: 30px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    margin-top: 81px;
    margin: 73px 0 81px 0;
}

main .test-level .middle-rectangle .all-levels-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 70%;
}

main .test-level .middle-rectangle .all-levels-container h6 {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.31rem;
    text-align: center;
    color: var(--blue-color);
    margin-bottom: 31px;
}

main .test-level .middle-rectangle .all-levels-container p {
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    color: var(--gray-color);
    width: 83.34%;
}

main .test-level .middle-rectangle a {
    width: 216px;
    height: 72px;
    background: var(--yellow-color);
    border-radius: 36px;
    border: none;
    text-align: center;
    margin-right: 10%;
    line-height: 1.21rem;
    font-family: var(--noto-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue-color);
    text-decoration: none;
    padding: 26px 38px;
}

main .test-level .middle-rectangle a:hover {
    cursor: pointer;
    background-color: #f2dda6;
}

main .test-level .middle-rectangle a:active {
    background-color: #f8b811;
}

main .test-level .test-your-level {
    grid-area: test;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

main .test-level .test-your-level img {
    width: 40%;
    height: auto;
    border-radius: 38px;
    transform: rotate(-2.5deg);
}


main .test-level .test-your-level .test-now {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .test-level .test-your-level .test-now h2 {
    font-family: 'Ball-Pen', sans-serif;
    font-size: 5.438rem;
    font-weight: normal;
    line-height: 7.87rem;
    text-align: center;
    color: var(--white-color);
    width: max-content;
    height: auto;
    z-index: 1;
}

main .test-level .test-your-level .test-now .arrow-image {
    position: absolute;
    height: auto;
    width: 10%;
    left: 75%;
    margin-top: 18px;
}

main .test-level .test-your-level .test-now .line {
    border: 1px solid var(--yellow-color);
    width: 36%;
    margin: -7% 0 8.46% 12.6%;
}


main .test-level .test-your-level .test-now .text {
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.19rem;
    text-align: center;
    color: #fff;
    width: 79%;
}

main .test-level .test-your-level .test-now .first-p {
    margin-bottom: 34px;
    width: 67%;
}

main .test-level .test-your-level .test-now a {
    width: 193px;
    height: 66px;
    border-radius: 33px;
    background-color: var(--second-orange-color);
    border: none;
    text-align: center;
    margin-bottom: 10%;
    font-family: var(--noto-font);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.36rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 21px 35px;
}

main .test-level .test-your-level .test-now a:hover {
    cursor: pointer;
    background-color: rgba(235, 88, 90, 0.71);
}

main .test-level .test-your-level .test-now a:active {
    background-color: #ce1719;
}

main .test-level .img-container {
    display: flex;
    flex-flow: column nowrap;
    height: 75%;
    justify-content: center;
    align-items: center;
}

main .test-level .left-img-container {
    grid-area: left-images;
    margin-left: -57px;
    max-width: 100%;
    height: fit-content;
}

main .test-level .right-img-container {
    grid-area: right-images;
}

main .test-level .bottom-background {
    grid-area: bottom-background;
    background: var(--white-color);
}

main .newsletter-section {
    width: 100vw;
    /* height: 345px; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "packet-img main-content papers lamp";
    background-color: var(--white-color);
}

main .newsletter-section .packet-img {
    grid-area: packet-img;
    width: 190px;
    height: 150px;
    transform: rotate(-7deg);
    margin: 7% -18% 0 18%;
}

main .newsletter-section .main-content {
    grid-area: main-contect;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main .newsletter-section .main-content .title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: var(--montserrat-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.31rem;
    text-align: center;
    color: #3d3d3d;
}

main .newsletter-section .main-content .title span {
    border-bottom: solid 2px #cfcfcf;
    width: 70%;
    margin: 7px 0 26px 0;
}

main .newsletter-section .main-content .receive-news {
    font-family: var(--montserrat-font);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.22rem;
    text-align: left;
    color: var(--violet-color);
    margin-bottom: 15px;
    width: 51%;
}

main .newsletter-section .main-content .suscribe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main .newsletter-section .main-content .suscribe .input {
    width: 356px;
    height: 48px;
    border: solid 2px #8e8d8f;
    border-radius: 1.5rem;
    margin-right: 1rem;
    padding-left: 24px;
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: left;
    color: var(--gray-color);
    margin-left: 8%;
}

main .newsletter-section .main-content .suscribe .input::placeholder {
    width: 80%;
    height: 80%;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: left;
    color: var(--gray-color);
}

main .newsletter-section .main-content .suscribe a {
    width: 144px;
    height: 48px;
    border-radius: 1.5rem;
    background-color: var(--violet-color);
    text-align: center;
    border: none;
    margin-left: 3.10%;
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    color: var(--yellow-color);
    text-decoration: none;
    padding: 13px 19px;
}

main .newsletter-section .main-content .suscribe a:hover {
    cursor: pointer;
    background-color: #7e6e91;
}

main .newsletter-section .main-content .suscribe a:active {
    background-color: #2b0457;
}

/* main .newsletter-section .images-container {
position: absolute;
right: 12%;
} */

main .newsletter-section .images-container .papers {
grid-area: papers;
}

main .newsletter-section .images-container .paper {
    transform: rotate(8.5deg);
    width: 80px;
    height: 85px;
    margin-top: 35.17%;
}

main .newsletter-section .images-container .smaller-paper {
    transform: rotate(-12.5deg);
    width: 67px;
    height: 70px;
    margin-top: 42%;
}

main .newsletter-section .images-container .lamp {
    grid-area: lamp-img;
    /* transform: scaleX(-1);
    width: 142px;
    height: 254px;
    left: 85%;
    position: absolute;
    margin-top: 11%; */
}

footer{
    width: 100vw;
}

footer main {
    background-color: var(--yellow-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "left-image . ."
        "toolbox language special"
    ;
}

footer main .left-image {
    grid-area: left-image;
    width: 182px;
    height: 161px;
    margin: -88px 0 0 45.4px;
}

footer main .the-spanish-toolbox {
    grid-area: toolbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 4% 0 0 22.341%;
}

footer main .the-spanish-toolbox .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

footer main .the-spanish-toolbox .logo-img {
    width: auto;
    height: 36px;
    margin-right: 4%;
}

footer main .the-spanish-toolbox span {
    width: max-content;
    height: auto;
    font-family: var(--montserrat-font);
    font-size: 1.313rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75rem;
    letter-spacing: normal;
    text-align: left;
    color: var(--first-orange-color);
    margin-top: 5px;
}

footer main .the-spanish-toolbox p,
footer main .courses-container .courses-text {
    font-family: var(--noto-font);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.36rem;
    text-align: left;
    color: var(--white-color);
    width: 100%;
    align-self: flex-start;
}

footer main .the-spanish-toolbox p {
    min-height: 66px;
}

footer main .the-spanish-toolbox nav {
    align-self: flex-start;
    width: 90%;
    position: relative;
    top: 12%;
}

footer main .the-spanish-toolbox nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

footer main .the-spanish-toolbox nav ul li {
    list-style-type: none;
}

footer main .the-spanish-toolbox nav ul li a {
    text-decoration: none;
    font-family: var(--noto-font);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33rem;
    text-align: center;
    color: var(--white-color);
    border-bottom: 2px solid var(--first-orange-color);
}

footer main .courses-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-self: center;
}

footer main .title {
    font-family: var(--noto-font);
    font-size: 1.313rem;
    font-weight: 700;
    line-height: 1.42rem;
    text-align: left;
    color: var(--second-orange-color);
    margin-bottom: 21px;
}

footer main .courses-container .courses-text {
    margin-bottom: 30.5px;
}


footer main .language-courses {
    grid-area: language;

}

footer main .special-courses-footer {
    grid-area: special;
    max-width: 79.1%;
}

footer .the-spanish-toolbox,
footer .courses-container {
    margin: 5.835% 0 13% 0;
}

footer footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background: var(--violet-color);
    color: var(--white-color);
    font-family: var(--noto-font);
    font-weight: 700;
    font-size: 0.813rem;
}


footer footer .social-media {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

footer footer .social-media img {
    width: 31.5px;
    height: auto;
    margin-right: 20.6%;
}

footer footer .social-media:last-child {
    margin-right: 0;
}

footer footer .terms-privacy {
    margin-right: 3.45%;
}

footer footer .terms-privacy .terms {
    margin-left: 73px;
}

/* Laptop */




@media (max-width: 1200px) {

    .header .logo {
        margin: 0 4.5% 0.18% 2%;
    }

    .header .logo-img {
        height: 32px;
    }

    .header span {
        font-size: 1.2rem;
    }

    .header nav ul li {
        margin-right: 5.79%;
    }

    .header nav ul li a {
        font-size: 1rem;
    }

    main .lets-learn .white-top {
        margin-top: -82px;
    }

    main .lets-learn header h1 .first {
        font-size: 3.5rem;
    }

    main .lets-learn header h1 .second {
        font-size: 4.959rem;
    }

    main .lets-learn header h1 .third {
        font-size: 1.575rem;
    }



    main .lets-learn main .card {
        width: 89%;
    }

    main .lets-learn main .card h6 {
        font-size: 1rem;
    }

    main .lets-learn main .card p {
        font-size: 0.85rem;
        width: 85%;
    }

    main .online-courses {
        margin-top: -6.4%;
    }

    main .online-courses .online-courses-text-container h2 {
        font-size: 2.4rem;
    }

    main .online-courses .online-courses-text-container p {
        font-size: 1.3rem;
    }

    main .special-courses main .cards-container .cards img {
        width: 100%;
        max-width: 100%;
        min-height: 40.5vh;
    }

    main .special-courses main .cards-container .cards h6 {
        font-size: 1.03rem;
    }

    main .why-us main .cards .card-text p {
        font-size: 1rem;

    }

    main .test-level .middle-rectangle .all-levels-container h6 {
        font-size: 1.85rem;
    }

    main .test-level .middle-rectangle .all-levels-container p {
        font-size: 0.95rem;
    }

    main .test-level .middle-rectangle a {
        width: 205px;
        height: 63px;
    }

    main .test-level .test-your-level .test-now .line {
        width: 52%;
    }

    main .test-level .test-your-level .test-now .first-p {
        width: 100%;
    }

    main .background {
        bottom: 430px;
        transform: scaleY(1.0);
    }



    main .newsletter-section .packet-img {
        width: 160px;
        height: 120px;
    }

    main .newsletter-section .images-container .paper {
        width: 65px;
        height: auto;
        margin-top: 66.17%;
    }

    main .newsletter-section .images-container .smaller-paper {
        width: 53px;
        height: auto;
        margin-top: 100%;
    }

    main .newsletter-section .images-container .lamp {
        width: 118px;
        height: auto;
        margin-top: 14%;
    }

    main .newsletter-section .images-container {
        grid-template-columns: 26% 1fr;
        margin-left: 18.2%;
    }

    footer main .left-image {
        width: 132px;
    }

    footer main .the-spanish-toolbox {
        margin: 3% 0 0 9.341%;
    }

    footer main .the-spanish-toolbox p,
    footer main .courses-container .courses-text {
        font-size: 1.1rem;
    }

    footer main .the-spanish-toolbox nav ul li a {
        font-size: 1rem;
    }



}

@media (max-width: 1023px) {
    .header .logo {
        margin: 0 3% 0.18% 1.5%;
        width: 30%;
    }

    .header .logo-img {
        height: 25px;
    }

    .header span {
        font-size: 1rem;
    }

    .header nav{
        width: 50%;
    }

    .header nav ul {
        justify-content: flex-end;
        margin-right: 5%;
    }

    .header nav ul li {
        margin-right: 17px;
    }

    .header nav ul li a {
        font-size: 0.9rem;
    }



    main .lets-learn {
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-rows: 243px auto auto;
        grid-template-areas:
            "learn-blue-circle learn-header-text ."
            "main-cards main-cards main-cards"
            ". . .";
        top: -51px;
    }

    main .lets-learn main .card {
        width: 86%;
    }

    main .lets-learn main .card a {
        margin-top: 16%;
    }

    main .online-courses {
        margin-top: -4.4%;
    }

    main .online-courses .online-courses-text-container h2 {
        font-size: 2rem;
    }

    main .online-courses .online-courses-text-container p {
        font-size: 1.2rem;
    }




    main .special-courses main .cards-container .cards img {
        min-height: auto;
    }

    main .special-courses main .cards-container .cards {
        width: 29.74%;
        min-height: 680px;
    }

    main .special-courses main .cards-container .cards h6 {
        font-size: 1rem;
        min-height: 48px;
    }

    main .special-courses main .cards-container .cards p {
        height: 228px;
    }

    main .why-us main .cards .card-text p {
        font-size: 0.9rem;
    }

    main .why-us footer a {
        width: 175px;
    }

    main .test-level .middle-rectangle .all-levels-container h6 {
        font-size: 1.55rem;
    }

    main .test-level .middle-rectangle a {
        width: 190px;
        height: 53px;
        font-size: 1.3rem;
    }


    main .test-level .test-your-level .test-now {
        margin-left: 7%;
    }

    main .test-level .test-your-level .test-now h2 {
        font-size: 4.5rem;
    }

    main .test-level .test-your-level .test-now .arrow-image {
        width: 25%;
        left: 73.7%;
        margin-top: 3.7%;
        height: max-content;
    }

    main .test-level .test-your-level .test-now .line {
        width: 72%;
        margin: -16.8% 0 11.46% 27.6%;
    }

    main .test-level .test-your-level .test-now a {
        width: 189px;
        height: 50px;
        margin-top: -25px;
    }

    main .newsletter-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;

    }

    main .newsletter-section .packet-img,
    main .newsletter-section .images-container {
        display: none;
    }

    footer main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "left-image"
            "toolbox"
            "language"
            "special";
        justify-items: center;
        align-items: center;
    }


    footer main .left-image {
        width: 100px;
        height: 126px;
        margin: -72px 0 0 45.4px;
        justify-self: baseline;
    }

    footer main .title {
        margin: 0;
    }

    footer main .the-spanish-toolbox {
        margin: 0;
        width: 60%;
    }

    footer main .the-spanish-toolbox .logo {
        justify-content: center;
        width: -webkit-fill-available;
    }

    footer main .the-spanish-toolbox .logo-img {
        margin-right: 1%;
        height: 29px;
    }

    footer main .the-spanish-toolbox span {
        margin-top: 2%;
        font-size: 1.5rem;
    }

    footer main .the-spanish-toolbox p {
        font-size: 1rem;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: 0 20%;
    }

    footer main .the-spanish-toolbox nav {
        align-self: center;
        width: 75%;
        top: 12%;
    }

    footer main .the-spanish-toolbox nav ul {
        align-items: center;
        justify-content: space-around;
    }

    footer main .the-spanish-toolbox nav ul li a {
        font-size: 1.2rem;
        border: none;
    }

    footer main .language-courses {
        width: 60%;
        align-items: center;
    }

    footer .the-spanish-toolbox,
    footer .courses-container {
        width: 100%;
        align-items: center;
        margin: 4% 0 2% 0;
    }

    footer main .courses-container .courses-text {
        display: none;
    }

    footer main .special-courses-footer {
        width: 100%;
        align-items: center;
        margin: 0 0 4% 0;
    }

    footer footer {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    footer footer .all-rights-reserved {
        text-align: center;
        margin: 3% 0 6% 0;
        line-height: 1.2rem;
    }

    footer footer .all-rights-reserved {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    

    footer footer .terms-privacy {
        display: none;
    }

    footer footer .social-media {
        margin-bottom: 6%;
        width: 100%;
    }

    footer footer .social-media img {
        margin: 0 1%;
    }

}


/* landscape view Tablet */
@media (max-width: 768px) {

    .header nav,
    .header .contact-button
     {
        display: none;
    }

    .header {
        align-items: flex-start;
        margin-top: 20px;
    }

    .header nav ul{
        margin: 0;
    }

    .header .logo {
        width: 60%;
    }

    .header span {
        font-size: 1.2rem;
    }

    .header .right-burguer-image {
        display: block;
    }

    .header .burguer-menu {
        display: block;
    }

    .header .burguer-menu .lbl-menu {
        cursor: pointer;
    }

    .header .burguer-menu .lbl-menu .spn1,
    .header .burguer-menu .lbl-menu .spn2,
    .header .burguer-menu .lbl-menu .spn3 {
        position: absolute;
        content: '';
        background: #fff;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        transition: all 1ms linear;
    }

    .header .burguer-menu .lbl-menu .spn2 {
        top: 50%;
        margin: 16px 0;
    }

    .header .burguer-menu .lbl-menu .spn3 {
        top: 11px;
    }

    .header .burguer-menu .btn-menu {
        display: none;

    }

    .header .burguer-menu .btn-menu:checked~.lbl-menu .spn1 {
        transform: rotate(140deg);
        top: 5px;
    }

    .header .burguer-menu .btn-menu:checked~.lbl-menu .spn2 {
        opacity: 0;
    }

    .header .burguer-menu .btn-menu:checked~.lbl-menu .spn3 {
        transform: rotate(-140deg);
        top: 5px;
    }

    .header .burguer-menu .menu-mobile {
        position: fixed;
        width: 100vw;
        height: 60vh;
        right: 0;
        bottom: 17.5%;
        display: flex;
        z-index: 2;
    }

    .header .burguer-menu .menu-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background: #2f6fb6;
        justify-content: space-evenly;
    }

    .header .burguer-menu .menu-mobile ul li a {
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 16px;
        font-family: var(--noto-font);
        font-weight: 700;
        font-size: 1.05rem;
    }

    .header .burguer-menu .btn-menu:checked~.menu-mobile,
    .header .burguer-menu .btn-menu:checked~.menu-mobile ul {
        transform: translateY(0);
        transition: all 1s ease;
        margin: 0;
    }

    .header .burguer-menu .menu-mobile ul {
        transform: translateY(-100vh);
        transition: all 1.5s ease;
    }   



    main .lets-learn .blue-circle {
        width: 166px;
    }

    main .lets-learn main .card p {
        font-size: 0.8rem;
        display: flex;
        flex-flow: column nowrap;
        height: auto;
    }

    main .lets-learn main .card a {
        margin-top: 3%;
    }
    
    

}

/* vertical view Tablet + lansdcape view Mobile */
@media (max-width:480px) {}

/* vertical view Mobile */
@media (max-width:320px) {}