@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: ball-pen;
    src: url('/styles/fonts/Ball-Pen-Regular.woff'), url('/styles/fonts/Ball-Pen-Extra.woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --montserrat-font: 'Montserrat', sans-serif;
    --noto-font: 'Noto Sans', sans-serif;
    --first-orange-color: #fe5757;
    --second-orange-color: #eb585a;
    --violet-color: #512583;
    --yellow-color: #f9c640;
    --blue-color: #2f6fb6;
    --gray-color: #9d9a9a;
    --white-color: #fcfcfc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 4.938rem;
}

.header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 32%;
    height: auto;
    margin: 0 14.2% 0.18% 5.341%;
}

.header .logo-img {
    width: auto;
    height: 36px;
    margin-right: 4%;
}

.header span {
    width: 240px;
    height: 1rem;
    font-family: var(--montserrat-font);
    font-size: 1.313rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75rem;
    letter-spacing: normal;
    text-align: left;
    color: var(--first-orange-color);
}

.header nav {
    width: 100%;
}

.header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header nav ul li {
    list-style-type: none;
    margin-right: 7.79%;
}

.header nav ul .last {
    margin-right: 0;
}

.header nav ul li a {
    text-decoration: none;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: var(--montserrat-font);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: var(--violet-color);
}

.header .contact {
    grid-area: contact-button;
    min-width: 144px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--second-orange-color);
    margin: 0 4.25% -1% 0;
}

.header .contact span {
    font-family: var(--noto-font);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #fcfcfc;
    width: 60px;
    height: 22px;
    font-size: 16px;
}

main {
    grid-area: main;
}

main .hero {
    display: grid;
    grid-template-columns: 6.823% 24.527% auto 1fr 6.823%;
    grid-template-rows: 61% 22% auto;
    grid-template-areas: "left-small-circles lamp-flowerpot computer varius right-circle"". lamp-flowerpot computer varius . "". lamp-flowerpot computer varius . ";
    align-items: stretch;
    justify-content: center;
}

main .hero .line {
    width: 100%;
    height: 1px;
    border: solid 1px #2e2a4a;
    background: #2e2a4a;
    grid-row: 2/4;
    grid-column: 2/5;
    margin-left: -66px;
}

main .hero .left-small {
    grid-area: left-small-circles;
    width: auto;
    height: fit-content;
}

main .hero .left-small .left-circle {
    width: auto;
    height: 188px;
}

main .hero .left-small .small-circle {
    width: 26.2px;
    height: 26.2px;
    margin: 38.4px 0 0 25.2%;
}

main .hero .right-circle {
    grid-area: right-circle;
    width: auto;
    height: 186.4px;
    margin-top: 4px;
    position: absolute;
    right: 0;
}

main .hero .lamp-flowerpot {
    grid-area: lamp-flowerpot;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
    height: fit-content;
    margin: 138px 40.3px 0 13.55%;
    z-index: 1;
}

main .hero .lamp-flowerpot .lamp {
    width: auto;
    height: 314px;
}

main .hero .lamp-flowerpot .flowerpot {
    width: auto;
    height: 184px;
    margin-left: 15%;
}

main .hero .computer {
    grid-area: computer;
    width: 473.5px;
    height: 358px;
    margin: 127px 0 0 7.5%;
}

main .hero .varius {
    grid-area: varius;
    display: grid;
    grid-template-columns: 39% 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "post-it cell-phone ""cofee cell-phone";
}

main .hero .varius .post-it {
    grid-area: post-it;
    width: auto;
    height: 73px;
    margin-top: 192px;
}

main .hero .varius .cell-phone {
    grid-area: cell-phone;
    width: auto;
    height: 218px;
    margin-top: 228px;
}

main .hero .varius .cofee {
    grid-area: cofee;
    width: auto;
    height: 137px;
    margin: 0 0 44px 15.63%;
}

main .lets-learn {
    display: grid;
    background-image: url(/styles/img/home/generales/inicio-ilustracion_onda_superior_blanco.svg);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 243px auto auto;
    grid-template-areas: "learn-blue-circle learn-header-text .""main-cards main-cards main-cards"". . .";
    position: relative;
    top: -95px;
    z-index: 1;
}

main .lets-learn .blue-circle,
main .lets-learn header,
main .lets-learn .main {
    margin-top: 23%;
}

main .lets-learn .blue-circle {
    grid-area: learn-blue-circle;
    width: 187px;
    height: 319px;
    background: var(--blue-color);
    border-radius: 0 319px 319px 0;
}

main .lets-learn header h1 {
    grid-area: learn-header-text;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
}

main .lets-learn header h1 line {
    font-family: var(--montserrat-font);
    font-stretch: normal;
    font-style: normal;
    line-height: 159px;
    text-align: left;
}

main .lets-learn header h1 .first {
    color: var(--second-orange-color);
    font-weight: 600;
    font-size: 60px;
}

main .lets-learn header h1 .second {
    color: var(--yellow-color);
    font-weight: 600;
    font-size: 85px;
    margin-top: -13px;
}

main .lets-learn header h1 .third {
    color: var(--second-orange-color);
    font-weight: bold;
    font-size: 27px;
}

main .lets-learn main {
    grid-area: main-cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first-card second-card third-card";
    place-items: center;
}

main .lets-learn main .yellow-circle {
    position: absolute;
    right: 0;
    top: 28%;
    grid-column: 2/4;
    grid-row: 1/3;
    width: 100%;
    height: 809px;
    background: var(--yellow-color);
    clip-path: circle(44% at 74% 50%);
}

main .lets-learn main .first-card {
    grid-area: first-card;
}

main .lets-learn main .second-card {
    grid-area: second-card;
}

main .lets-learn main .third-card {
    grid-area: third-card;
}

main .lets-learn main .card {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 82.58%;
    height: auto;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 16%);
    background-color: var(--white-color);
    margin-top: 95px;
}

main .lets-learn main .card img {
    width: 100%;
    height: fit-content;
    margin-bottom: 9.5%;
}

main .lets-learn main .card h6 {
    line-height: 1.438rem;
    font-family: var(--montserrat-font);
    font-size: 1.188rem;
    font-weight: 600;
    text-align: center;
    color: var(--violet-color);
    margin-bottom: 4.5%;
}

main .lets-learn main .card p {
    width: 80.055%;
    height: fit-content;
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.19rem;
    color: var(--gray-color);
    margin-bottom: 7.5%;
}

main .lets-learn main .card button {
    min-width: 38%;
    height: auto;
    padding: 3.2% 9%;
    border-radius: 24px;
    border: none;
    text-align: center;
    font-size: 0.813rem;
    font-weight: 600;
    line-height: 1.38rem;
    color: var(--white-color);
    margin-bottom: 8.5%;
}

main .lets-learn main .card .first-button {
    background: var(--blue-color);
}

main .lets-learn main .card .second-button {
    background: var(--violet-color);
}

main .lets-learn main .card .third-button {
    background: var(--second-orange-color);
}

main .online-courses {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: -3.2%;
}

main .online-courses .online-courses-text-container {
    z-index: 1;
    position: absolute;
    left: 2.8%;
    margin-bottom: 5%;
}

main .online-courses .online-courses-text-container h2 {
    font-size: 2.625rem;
    line-height: 3.25rem;
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: var(--violet-color);
    margin-left: 0.213rem;
}

main .online-courses .online-courses-text-container p {
    font-size: 1.5rem;
    line-height: 1.813rem;
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: var(--second-orange-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main .online-courses video {
    width: 100%;
    height: auto;
}

main .special-courses {
    background: url(/styles/img/home/generales/inicio-ilustracion_onda\ superior.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    margin-top: -16.6%;

}

main .special-courses header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 12.6% 0 4% 3.74%; 
}

main .special-courses header .logo {
    width: 94px;
    height: 100%;
}

main .special-courses header p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

main .special-courses header p .text {
    width: 100%;
    height: 100%;
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.625rem;
    color: #eee;
    margin: 8px 0;
    text-align: center;
}

main .special-courses header p .line {
    width: 30.37%;
    border-bottom: 1px solid var(--yellow-color);
}

main .special-courses main {
    background-color: #eb585a;
}

main .special-courses main .cards-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4%;
}

main .special-courses main .cards-container .cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 27.74%;
    margin-right: 2.23%;
}

main .special-courses main .cards-container .cards img {
    width: 100%;
    min-height: 255.5px;
}

main .special-courses main .cards-container .cards h6 {
    width: 100%;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--yellow-color);
    margin: 22px 0 21.5px 0;
}

main .special-courses main .cards-container .first-card h6,
main .special-courses main .cards-container .second-card h6 {
    line-height: 3rem;
}

main .special-courses main .cards-container .third-card h6 {
    line-height: 1.5rem;
}

main .special-courses main .cards-container .cards p {
    width: 100%;
    height: 126px;
    line-height: 1.188rem;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: lighter;
    font-size: 1rem;
    color: var(--white-color);
}

main .special-courses main .cards-container .cards p span {
    font-weight: 600;
}

main .special-courses main .cards-container .cards .card-button {
    width: 44%;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--yellow-color);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: center;
    color: #fcfcfc;
    margin: 36.5px 0 79.5px 0;
}

main .why-us {
    width: 100%;
    background: var(--violet-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

main .why-us .rectangle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: none;
    width: 36px;
    height: 33px;
    margin: 33px 0 0 35px;
}

main .why-us header .rectangle-lines {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

main .why-us header .rectangle-lines .circle {
    width: 6px;
    height: 6px;
    border: 1px solid var(--violet-color);
    background: var(--white-color);
    border-radius: 50%;
}

main .why-us .title {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
    margin: 73px 0;
}

main .why-us .title h6 {
    color: #eee;
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.31rem;
    text-align: center;
}

main .why-us .title .line {
    border-bottom: 1px solid #eee;
    margin-top: 21.5px;
    width: 7%;
}

main .why-us main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main .why-us main .cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 279px;
    height: fit-content;
}

main .why-us main .first-card {
    margin-left: 11%;
}

main .why-us main .third-card {
    margin-right: 11%;
    margin-bottom: 2%;
}

main .why-us main .cards img {
    width: 186px;
}

main .why-us main .first-card img {
    margin-right: 9%;
}

main .why-us main .cards .card-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--montserrat-font);
    font-weight: 600;
}

main .why-us main .cards .card-text h6 {
    margin: 15px 0 24px 3%;
    font-size: 1.25rem;
    line-height: 1.2rem;
    height: 24px;
    color: var(--white-color);
}

main .why-us main .cards .card-text p {
    margin: 5px 0 0 7%;
    font-size: 1.125rem;
    color: #eee;

}

main .why-us footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -3.7%;
}

main .why-us footer button {
    width: 257px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--yellow-color);
    border: none;
    margin: 84px 0 77px 1%;
    line-height: 1.375rem;
    color: var(--violet-color);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

main .test-level {
    display: grid;
    grid-template-columns: 1fr 65.8858% 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "left-images rectangle right-images"
        "left-images test right-images"
        ;
        background-color: var(--blue-color);
}

main .background{
    position: relative;
    top: -600px;
    z-index: -1;
}

main .test-level .middle-rectangle {
    grid-area: rectangle;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 236px;
    background: var(--white-color);
    border-radius: 30px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    margin-top: 81px;
    margin: 73px 0 81px 0;
}

main .test-level .middle-rectangle .all-levels-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 70%;
}

main .test-level .middle-rectangle .all-levels-container h6 {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.31rem;
    text-align: center;
    color: var(--yellow-color);
    margin-bottom: 31px;
}

main .test-level .middle-rectangle .all-levels-container p {
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    color: var(--gray-color);
    width: 83.34%;
}

main .test-level .middle-rectangle .all-levels-container p {
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    color: var(--gray-color);
    width: 83.34%;
}

main .test-level .middle-rectangle button {
    width: 24%;
    height: 30.5%;
    background: var(--yellow-color);
    border-radius: 36px;
    border: none;
    text-align: center;
    line-height: 1.38rem;
    font-family: var(--noto-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white-color);
    margin-right: 10%;
}

main .test-level .test-your-level {
    grid-area: test;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

main .test-level .test-your-level img {
    width: 40%;
    height: auto;
    border-radius: 38px;
    transform: rotate(-2.5deg);
}


main .test-level .test-your-level .test-now {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}


main .test-level .test-your-level .test-now h2 {
    font-family: 'Ball-Pen', sans-serif;
    font-size: 5.438rem;
    font-weight: normal;
    line-height: 7.87rem;
    text-align: center;
    color: var(--white-color);
    width: max-content;
    height: auto;
    z-index: 1;
}

main .test-level .test-your-level .test-now .arrow-image {
    position: absolute;
    height: auto;
    width: max-content;
    left: 72.7%;
    margin-top: 3.7%;
}

main .test-level .test-your-level .test-now .line {
    border: 1px solid var(--yellow-color);
    width: 44%;
    margin: -8.8% 0 11.46% 18.6%;
}


main .test-level .test-your-level .test-now .text {
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.19rem;
    text-align: center;
    color: #fff;
    width: 79%;
}

main .test-level .test-your-level .test-now .first-p {
    margin-bottom: 27px;
}

main .test-level .test-your-level .test-now .second-p {
    margin-bottom: 37px;
}

main .test-level .test-your-level .test-now button {
    width: 42.5%;
    height: 66px;
    border-radius: 33px;
    background-color: var(--second-orange-color);
    border: none;
    font-family: var(--noto-font);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.36rem;
    text-align: center;
    color: var(--white-color);
}

main .test-level .img-container {
    display: flex;
    flex-flow: column nowrap;
    height: 75%;
    justify-content: center;
    align-items: center;
}

main .test-level .left-img-container {
    grid-area: left-images;
    margin-left: -57px;
    max-width: 100%;
    height: fit-content;
}

main .test-level .right-img-container {
    grid-area: right-images;
}

main .newsletter-section {
    position: relative;
    display: grid;
    grid-template-columns: 68.722% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "main-container images";
    margin: -40% 0 10% 0;
}

main .newsletter-section .container {
    grid-area: main-container;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: auto;
}

main .newsletter-section .container .packet-img {
    width: 24.4%;
    height: auto;
    transform: rotate(-7deg);
    margin-top: 50px;
}

main .newsletter-section .container .main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main .newsletter-section .container .main-content .title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: var(--montserrat-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.31rem;
    text-align: center;
    color: #3d3d3d;
}

main .newsletter-section .container .main-content .title span {
    border-bottom: solid 2px #cfcfcf;
    width: 70%;
    margin: 7px 0 26px 0;
}

main .newsletter-section .container .main-content .receive-news {
    font-family: var(--montserrat-font);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.22rem;
    text-align: left;
    color: var(--violet-color);
    margin-bottom: 10px;
}

main .newsletter-section .container .main-content .suscribe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main .newsletter-section .container .main-content .suscribe .input {
    width: 356px;
    height: 48px;
    border: solid 2px #8e8d8f;
    border-radius: 1.5rem;
    margin-right: 1rem;
    padding-left: 24px;
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: left;
    color: var(--gray-color);
    margin-left: 8%;
}

main .newsletter-section .container .main-content .suscribe .input::placeholder {
    width: 80%;
    height: 80%;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: left;
    color: var(--gray-color);
}

main .newsletter-section .container .main-content .suscribe button {
    width: 144px;
    height: 48px;
    border-radius: 1.5rem;
    background-color: var(--violet-color);
    font-family: var(--noto-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38rem;
    text-align: center;
    color: var(--yellow-color);
    border: none;
    margin-left: 3.10%;
}


main .newsletter-section .images-container {
    grid-area: images;
    display: grid;
    grid-template-columns: 25.271% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "paper lamp"
        "smaller-paper lamp"
    ;
    margin-left: 77px;
}

main .newsletter-section .images-container .paper {
    grid-area: paper;
    transform: rotate(8.5deg);
    width: 80px;
    height: 85px;
    margin-top: 30px;
}

main .newsletter-section .images-container .smaller-paper {
    grid-area: smaller-paper;
    transform: rotate(-12.5deg);
    width: 67px;
    height: 70px;
    margin-top: 47px;
}

main .newsletter-section .images-container .lamp {
    grid-area: lamp;
    transform: scaleX(-1);
    width: 142px;
    height: 254px;
    left: 85%;
    position: absolute;
    margin-top: 109px;
}

footer main {
    background-color: var(--yellow-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "left-image . ."
        "toolbox language special"
    ;
}

footer main .left-image {
    grid-area: left-image;
    width: 182px;
    height: 161px;
    margin: -88px 0 0 45.4px;
}

footer main .the-spanish-toolbox {
    grid-area: toolbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: -27% 0 0 30.341%;
}

footer main .the-spanish-toolbox .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}

footer main .the-spanish-toolbox .logo-img {
    width: auto;
    height: 36px;
    margin-right: 4%;
}

footer main .the-spanish-toolbox span {
    width: max-content;
    height: auto;
    font-family: var(--montserrat-font);
    font-size: 1.313rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75rem;
    letter-spacing: normal;
    text-align: left;
    color: var(--first-orange-color);
    margin-top: 5px;
}

footer main .the-spanish-toolbox p,
footer main .courses-container .courses-text {
    font-family: var(--noto-font);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.36rem;
    text-align: left;
    color: var(--white-color);
    width: 100%;
    align-self: flex-start;
    margin-bottom: 30.5px;

}

footer main .the-spanish-toolbox nav {
    width: 100%;
    align-self: flex-start;
    width: 90%;
}

footer main .the-spanish-toolbox nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

footer main .the-spanish-toolbox nav ul li {
    list-style-type: none;
}

footer main .the-spanish-toolbox nav ul li a {
    text-decoration: none;
    font-family: var(--noto-font);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33rem;
    text-align: center;
    color: var(--white-color);
    border-bottom: 2px solid var(--first-orange-color);
}

footer main .courses-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-self: center;
}

footer main .title {
    font-family: var(--noto-font);
    font-size: 1.313rem;
    font-weight: 700;
    line-height: 1.42rem;
    text-align: left;
    color: var(--second-orange-color);
    margin-bottom: 21px;
}

footer main .courses-container .courses-text {
    margin-bottom: 30.5px;
}


footer main .language-courses {
    grid-area: language;

}

footer main .special-courses-footer {
    grid-area: special;
    max-width: 79.1%;
}

footer .the-spanish-toolbox,
footer .courses-container {
    margin: 5.835% 0 13% 0;
}

footer footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background: var(--violet-color);
    color: var(--white-color);
    font-family: var(--noto-font);
    font-weight: 700;
    font-size: 0.813rem;
}

footer footer .social-media {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

footer footer .social-media img {
    width: 31.5px;
    height: auto;
    margin-right: 20.6%;
}

footer footer .social-media:last-child {
    margin-right: 0;
}

footer footer .terms-privacy {
    margin-right: 3.45%;
}

footer footer .terms-privacy .terms {
    margin-left: 73px;
}

/* Laptop */
@media (min-width:1024px) and (max-width:1200px) {

    .header .logo {
        margin: 0 8.5% 0.18% 5.341%;
    }

    main .special-courses main .cards-container .first-card h6 {
        line-height: 1.5rem;
    }

    main .test-level .test-your-level .test-now .line {
        width: 52%;
    }

    main .background{
        top: -400px;
    }

}

/* small screen Laptop + landscape view Tablet */
@media (min-width:768px) and (max-width:1199px) {
    main .special-courses main .cards-container .cards .third-button{
        margin-top: 1rem;
    }

    footer main .the-spanish-toolbox{
        margin-left: 16%;
    }

}

/* vertical view Tablet + lansdcape view Mobile */
@media (max-width:767px){

    .header .logo {
        margin: 0 4% 0 2%;
    }

    main .test-level .test-your-level .test-now .line {
        width: 70%;
        margin: -11.8% 0 11.46% 24.6%;
    }

    main .test-level .test-your-level .test-now .arrow-image {

        margin-top: 5.7%;
    }

}

/* vertical view Mobile */
@media (max-width:480px){

}